/* урок :меню адаптивное на java  скрипте */

body {
  margin: 0;
  font-size: 16px;
}
.wrap {
  margin: 0 auto;
  max-width: 1024px;
  /* overflow: hidden; */
  /* padding: 0 40px; */
  /* border: 1px solid #000; */
}
nav {
  background: #94a394;
  position: relative;
}
.toggle {
  display: none;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;

  transition: all 0.9s;
  /* border: 1px solid #000; */
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
.menu li {
  float: left;
}
/* a {
  text-decoration: none;
  color: inherit;
} */
.menu li a {
  display: block;
  width: 100px;
  background: rgb(148, 163, 148);
  color: rgb(19, 21, 22);
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  border-right: 1px solid #000;
}
.menu li a:hover {
  background: red;
}
/* a:focus {
  outline: none;
  background: red;
} */

@media screen and (max-width: 860px) {
  .toggle {
    background: rgb(117, 121, 117);
    display: block;
    width: 100px;
  }

  .menu {
    display: none;
    position: absolute;
  }
  .menu li {
    float: none;
    /* border-bottom: 1px solid #000; */
  }
  .menu li a {
    border-bottom: 1px solid #000;
    border-right: 0px solid #000;
  }
}
/*ставим класс тогл на событие клик на кнопку мею*/
.showed {
  display: block;
}

.galery {
  /* overflow: hidden; */
  background: rgb(138, 127, 127);
}
figure {
  float: left;
  padding: 10px;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.246);
  box-sizing: border-box;
}
img {
  width: 100%;
}
.box {
  width: 50px;
  height: 50px;
  background: blueviolet;
  position: relative;
}
