/* урок :меню адаптивное на css скрипте */
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/pt-sans-narrow */
@import "http://fonts.fontstorage.com/import/ptsansnarrow.css";
/*
	PT Sans Narrow, 400, 700
*/

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow";
  font-weight: 700;
}

.wrap {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0px 40px;

  /* border: 1px solid #000; */
}

nav {
  background: rgb(148, 163, 148);
  position: relative;
}

.toggle {
  display: none;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;

  /* border: 1px solid #000; */
}

#menuChcek {
  /* display: none; */
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ставим этот класс что бы меню открывалось иначе overflov не будет выпускать меню */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.menu li {
  float: left;
}

/* a {
    text-decoration: none;
    color: inherit;
  } */
.menu li a {
  display: block;
  width: 100px;
  background: rgb(148, 163, 148);
  color: rgb(19, 21, 22);
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  border-right: 1px solid #000;
}

.menu li a:hover {
  background: red;
}

/* a:focus {
    outline: none;
    background: red;
  } */

@media screen and (max-width: 650px) {
  .toggle {
    background: rgb(117, 121, 117);
    display: inline-block;
    width: 100px;
  }

  .menu {
    display: none;
    position: absolute;
  }

  .menu li {
    float: none;
    /* border-bottom: 1px solid #000; */
  }

  .menu li a {
    border-bottom: 1px solid #000;
    border-right: 0px solid #000;
  }

  #menuChcek:checked+.menu {
    display: block;
  }
}

.galery {
  background: rgb(138, 127, 127);
}

figure {
  float: left;
  padding: 5px;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.246);
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #000;
}

img {
  width: 100%;
}

.hidden {
  height: 0px;
  position: relative;
  top: 40px;
  overflow: hidden;
  transition: 0.9s;
  font-family: "PT Sans Narrow";
  font-size: 10px;
  background: rgba(223, 201, 201, 0.356);
  border-radius: 2px;
}

figure:hover .hidden {
  height: 60px;
  top: -20px;
}

/* стили для видео тега iframe */

.relation {
  max-width: 700px;
  position: relative;
}

.rilation_ration {
  padding-top: 56.3%;
  height: 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.relation_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}